body {
    background-color: #F7F8F8;
    min-height: 100vh;
    margin: 0 auto;
}

.main-content > div {
    width: calc(min(76.5rem, 90%));
}

.main-content {
    display: flex;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}
.main-content h1{
    position: relative;
    color: #072a15;
    font-size: 38px;
    font-weight: 700;
    padding-right: 50px;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: capitalize;
    &:before {
      position: absolute;
      content: '';
      right: 0px;
      bottom: 7px;
      width: 50px;
      height: 1.5px;
      background-color: #072a15;
    }   
}

.uk-navbar-nav {
    justify-content: center;
    font-family: "Catamaran", sans-serif;
    gap: 15px;
    margin-bottom: 35px;
}

.uk-navbar-nav > li {
    padding: 0;
    min-width: 100px;
}

.uk-navbar-nav > li > a {
    padding: 15px 35px;
    display: block;
    background-color: #fff;
    color: #222;
    font-size: 15px;
    min-height: auto;
    font-weight: 600;
    box-shadow: 0 0 25px #cccccc42;
    border-radius: 7px;
    transition: 0.5s all ease-in-out;
}

.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li.uk-active > a {
    background-color: #072a15;
    color: #fff;
}

.img-gallery-container > li {
    position: relative;
    padding: 10px;
    margin-top: 5px !important;
}

.img-gal {
    height: 400px;
    width: 90%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    border-radius: 6px;
}

.img-gallery-container > li:hover > img {
    transform: scale(1.1);
    z-index: 10;
}

/* Media Queries for responsive images */
@media screen and (max-width: 1100px) {
    .img-gal {
        height: 300px;
    }
}

@media screen and (max-width: 650px) {
    .img-gal {
        height: 225px;
    }
}

@media screen and (max-width: 480px) {
    .img-gal {
        height: 125px;
    }
}
