.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(min(76.5rem, 90%));
  margin: 0 auto;
}

.form-title {
  position: relative;
  color: #ffd700;
  font-size: 38px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 2px;
  display: inline-block;
  text-transform: capitalize;
  &:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 7px;
    width: 50px;
    height: 1.5px;
    background-color: #ffd700;
  }
}
p{
  text-align: left;
}
form{
 padding-right: 2rem;
 padding-left: 1.5rem;
}
.infobox{
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  width: 50%;
  background-color: #072a15;     
  color: #fff;                                                                                                                                                                                                                       
}
.infobox h2{
  color: #ffd700;
}
.list-info{
line-height: 4rem;
}
.formbox{
  width: 45%;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #072a15;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #072a15;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical; /* Allow vertical resize */
  min-height: 100px;
}

.form-group button {
  background-color: #072a15;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  color: #ffd700; /* Darken slightly on hover */
}

.social-icon-four {
  display: flex;
  flex-wrap: wrap;
}

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fas{
  color: #ffd700;
}
.social-icon-four li {
  margin-right: 18px;
  display: inline-block;
}

.social-icon-four li.follow {
  color: white;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}

.social-icon-four li a {
  font-size: 20px;
  color: #ffd700;
  transition: all .3s ease;
}

.social-icon-four li a:hover {
  color: white;
}
.form-status {
  text-align: center;
  margin-top: 15px;
  color: #072a15;
  font-weight: bold;
  animation: fade-in 0.5s ease;
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
